.tab-pane .tab {
    -fx-background-color: #333333;
}

.tab-pane .tab:selected {
    -fx-background-color: #ffffff;
}

.tab-pane .tab .tab-label {
    -fx-text-fill: #6d6e77;
}

.tab-pane .tab .tab-label {
    -fx-alignment: CENTER;
}
.tab-pane {
    -fx-alignment: CENTER;
}